@import url(reset.css);

:root {
	--font-roboto: "Roboto", sans-serif;
	--font-inter: "Inter", sans-serif;
	--background-color: #000000;
	--texto-primario: rgba(255, 255, 255, 0.9);
	--texto-secundario: rgba(255, 255, 255, 0.6);
	--card-background: #1b2226;
	--blue: #70b5f9;
	--form-input: #38434f;
	--white: #ffffff;
}

body {
	background-color: var(--background-color);
}

.cabecalho {
	background-color: var(--card-background);
}

.cabecalho__content {
	max-width: 80vw;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.cabecalho__esq {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	gap: 1rem;
}

.busca__icon {
	background-color: var(--form-input);
	border: var(--form-input);
	border-radius: 0.25rem;
	min-width: 17.5rem;
	background-image: url(/images/busca.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 2.5rem;
	color: var(--white);
}

.busca__icon::placeholder {
	font-family: var(--font-inter);
	font-size: 0.875rem;
	color: var(--white);
}

.navbar__lista {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar__itens {
	justify-content: center;
}

.principal {
	max-width: 80vw;
	display: grid;
	grid-template-columns: calc(70% - 32px) calc(30% - 32px);
	margin: 1.5rem auto;
}

.feed__profile {
	background-color: var(--card-background);
	border-radius: 1.5rem;
	overflow: hidden;
}

.profile__background {
	width: 100%;
	min-height: 230px;
	background-image: url(/images/capa.jpg);
	background-repeat: auto;
	background-size: cover;
}

.profile__avatar {
	max-width: 160px;
	border: 4px solid #1b2226;
	border-radius: 50%;
	position: absolute;
	left: 178px;
	top: 194px;
}

.profile__info {
	display: grid;
	grid-template-areas: "pessoal carreira";
	padding-top: 3.5rem;
	padding-left: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: var(--font-roboto);
}

.info__pessoa {
	grid-area: pessoal;
}

.info__pessoa > * {
	padding-bottom: 0.4rem;
}

.info__carreira {
	grid-area: carreira;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}

.carreira__detalhes {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.carreira__detalhes h2 {
	font-weight: 600;
	color: var(--texto-primario);
	font-size: 1rem;
}

.info__nome,
.info__titulo {
	color: var(--texto-primario);
}

.info__nome {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.25;
}

.info__titulo {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25;
}

.info__tags,
.info__local {
	font-size: 0.875rem;
	color: var(--texto-secundario);
}

.info__local {
	display: inline-block;
}

.info__contato {
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--blue);
}

.info__contato::before {
	content: "\00B7";
	color: var(--texto-secundario);
	padding: 0 0.2rem;
}

.info__rede {
	font-size: 0.875rem;
	font-weight: 500;
}

.info__seguidores,
.info__conexao {
	color: var(--blue);
}

.info__conexao::before {
	content: "\00B7";
	color: var(--texto-secundario);
	padding: 0 0.5rem;
}

.profile__btn {
}
